body {
	font-size: 12px;
	font-family: Helvetica, Arial;
}

a {
	color: #337733;
}

a:visited {
	color: #666;
}

#wrapper {
	width: 900px; 
	margin: 20px auto 0 auto;
	padding: 10px;
	border: 1px solid #ccc;
	overflow: hidden;
}

#content {
	float: left;
	width: 600px;
}

#content .cell {
	width: 280px;
	margin-right: 20px;
	float: left;
}

#content img {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

img {
	border: 0;
}

#metaBody {
	display: none;
}

#metaHead {
	display: block;
	color: #333;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 5px 10px;
	text-decoration: none;
	width: 150px;
	text-align: center;
}

.left {
	float: right;
	width: 240px;
	display: none;
}

.tagsSublist {
	margin-left: 15px;
	margin-bottom: 10px;
}

.tagsSublist a {
	display: block;
}

.left > div {
	margin-bottom: 15px;
}

.tag {
	display: block;
	margin-bottom: 5px;
}

#header {
	margin-bottom: 50px;
	overflow: hidden;
}

#header a {
	float: left;
}

#search {
	margin-top: 15px;
	float: right;
}

.tagli {
	margin-bottom: 5px;
}

#footer {
	width: 900px;
	margin:  10px auto;
}

#footer a {
	color: black;
}

iframe {
	float: left;
	height: 35px;
}

#footer .leakspin {
	float: right;
}

.zemanta {
	clear: both;
}

.zemanta-pixie-a {
	float: right;
}

#error {
	text-align: center;
}
